<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {{> partial/head.hbs}}
</head>

<body id="root">
    {{> partial/sidebar.hbs}}
    <main id="main" class="w-100 overflow-y-auto">
        {{> partial/topnav.hbs}}
        <div id="main-container">main-main-main</div>
        {{> partial/footer.hbs}}
    </main>
    {{> partial/js.hbs}}
</body>

</html>